<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Qom.Qa.Question2.Question_2"/>
      <class name="Com.qa.question1.Question_Google_Maps"/>
      <class name="Comm.Qa.Question3.Question_calc"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
